<h1>管理藥品</h1>
<br>
<%= form_tag drugs_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
  <%= submit_tag "Search", name: nil, :class => "btn" %>
<% end %>
<br>
<ul>
<table class="table table-bordered table-striped table-hover sortable">
  <tr>
    <th>藥品原名</th>
    <th>藥品譯名</th>
    <th>適應症</th>
    <th>顏色</th>
  </tr>
  <% @drugs.each do |drug| %>
  <tr>
      <td><%= drug.oriName %></td>
      <td><%= drug.chiName %></td>
      <td><%= drug.indication %></td>
      <td><%= drug.color %></td>

    <td>
      <%= link_to "圖片", drugs_path, :class => "btn btn-default" %>
    </td>
    <td>
      <%= link_to "編輯", edit_drug_path(drug), :class => "btn btn-primary" %>
    </td>
    <td>
      <%= link_to "刪除", drug_path(drug), :method => :delete, :class => "btn btn-danger", :data => { :confirm => "你確定要刪除嗎" } %>
    </td>
  </tr>
  <% end %>

</table>
</ul>

<%= link_to "新增藥品", new_drug_path, :class => "btn btn-info" %>
<br \>
