<h1><%= link_to "管理藥品", drugs_path %></h1>
<br>
<%= form_tag drugs_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search..." %>
  <%= submit_tag "Search", name: nil, :class => "btn" %>
<% end %>
<br>
<ul>
<table class="table table-bordered table-striped table-hover sortable">
  <tr>
    <th>藥品編號</th>
    <th>藥品原名</th>
    <th>藥品譯名</th>
    <th>適應症</th>
    <th>形狀</th>
    <th>顏色</th>
  </tr>
  <% @drugs.each do |drug| %>
  <tr>
    <td><%= drug.drugID %></td>
    <td><%= drug.oriName %></td>
    <td><%= drug.chiName %></td>
    <td><%= drug.indication %></td>
    <td><%= drug.shape %></td>
    <td><%= drug.color %></td>
    <td>
      <%= link_to "查看", drug_path(drug), :class => "btn btn-info" %>
    </td>
  </tr>
  <% end %>

</table>
</ul>

<br \>
<%= paginate @drugs %>
