<h2>編輯用戶 </h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4") do |f| %>
  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true, label: "Email" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.password_field :password, autocomplete: "off", label: "密碼" %>

  <%= f.password_field :password_confirmation, autocomplete: "off",
                       label: "確認密碼", help: "(若您不想變更密碼以上兩格請留空)" %>

  <%= f.password_field :current_password, autocomplete: "off", label: "現在的密碼",
                       help: "我們需要您現在的密碼確認您的變更" %>

  <%= f.text_field :name, label: "姓名" %>
  <%= f.text_field :phone, label: "電話" %>
  <%= f.text_field :idNumber, label: "身分證字號" %>

  <%= f.submit "更新我的資料", class: "btn btn-primary" %>
  <%= link_to "返回", :back, class: "btn btn-default" %>
<% end %>

<!-- <div class="col-md-2">
  <h3>注銷我的帳戶</h3>
  <p>不滿意我們的服務嗎? <%= button_to "注銷我的帳戶", registration_path(resource_name), data: { confirm: "您確定要注銷您的帳戶?" }, method: :delete, class: "btn btn-danger" %></p>
</div> -->
