

<%= f.number_field :days, :min => 0, label: "天數" %>
<%= f.number_field :deliveryTimes, :min => 0, label: "外送次數" %>
<%= f.date_select :doctorDate, label: "就醫日期" %>
<%= f.number_field :compoundingTimes, :min => 0, label: "調配次數" %>
<%= f.date_select :firstDate, label: "第一次看診日期" %>
<%= f.date_select :secondDate, label: "第二次看診日期" %>
<%= f.text_field :personAdded, label: "新增人" %>
<%= f.text_field :lastModifier, label: "最後修改人" %>
<%= f.collection_select :hospitalID, Hospital.all, :id, :name, label: "所屬醫院" %>

<br /><br />

<% if @prescription.errors.any? %>
  <ul>
  <% @prescription.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
  <% end %>
  </ul>
<% end %>