<h1>處方箋 - <%= @prescription.identity_check_text %> - <%= @prescription.identity_check_name %>  </h1>

</br>
<ul>
<table class="table table-condensed table-hover">
  <tr>
    <th>編號</th>
    <th>分類</th>
    <th>姓名</th>
    <th>天數</th>
    <th>外送次數</th>
    <th>就醫日期</th>
    <th>調配次數</th>
    <th>第一次看診日</th>
    <th>第二次看診日</th>
    <th>新增人</th>
    <th>最後修改人</th>
    <th>開立醫院</th>
    <th>電聯狀態</th>
    <th>取得期限</th>
  </tr>
  <tr>
      <td><%= @prescription.prescriptionID %></td>
      <td><%= @prescription.identity_check_text %></td>
      <td><%= @prescription.identity_check_name %></td>
      <td><%= @prescription.days %></td>
      <td><%= @prescription.deliveryTimes %></td>
      <td><%= @prescription.doctorDate %></td>
      <td><%= @prescription.compoundingTimes %></td>
      <td><%= @prescription.firstDate %></td>
      <td><%= @prescription.secondDate %></td>
      <td><%= @prescription.personAdded %></td>
      <td><%= @prescription.lastModifier %></td>
      <td><%= @prescription.hospital_name %></td>
      <td><%= @prescription.phone_status_text %></td>
      <td><%= @prescription.drug_range %></td>
</table>

<h2>處方箋照片</h2>
</table>
  <%= image_tag @prescription.image.url %>
  <br />
</ul>


<%= link_to "返回處方箋", prescriptions_path, class: "btn btn-info" %>
<br \>
