<%= f.text_field :name, label: "名稱" %>
<%= f.text_field :abbreviation, label: "簡稱" %>
<%= f.telephone_field :phone, label: "電話號碼" %>
<%= f.telephone_field :fax, label: "傳真號碼" %>
<%= f.collection_select :pharmacistID, Pharmacist.all, :id, :name, label: "所屬藥師" %>
<%= f.text_field :address, label: "住址" %>
<%= f.color_field :color, label: "所屬顏色" %>
<%= f.date_select :lastDeliveryDay, label: "最後外送日" %>

<br /><br />

<% if @agency.errors.any? %>
  <ul>
  <% @agency.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
  <% end %>
  </ul>
<% end %>