<h1>管理藥物治療評估服務記錄表</h1>
<br \>
<ul>
<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>評估記錄表編號</th>
    <th>住民姓名</th>
    <th>建立時間</th>
  </tr>
  <% @assessmentForms.each do |assessmentForm| %>
  <tr>
      <td><%= assessmentForm.afID %></td>
      <td><%= residentName(assessmentForm.residentID) %></td>
      <td><%= assessmentForm.timestamp %></td>
    <td>
      <%= link_to "PDF", assessment_forms_path, :class => "btn btn-default" %>
    </td>
    <td>
      <%= link_to "編輯", edit_assessment_form_path(assessmentForm), :class => "btn btn-primary" %>
    </td>
    <td>
      <%= link_to "刪除", assessment_form_path(assessmentForm), :method => :delete, :class => "btn btn-danger" %>
    </td>
  </tr>
  <% end %>

</table>
</ul>

<%= link_to "新增評估記錄表", new_assessment_form_path, :class => "btn btn-info" %>
<br \>
<%= paginate @assessmentForms %>