<h1>管理醫院</h1>
<br \>
<ul>
<table class="table table-bordered table-striped table-hover sortable">
  <tr>
    <th>醫院名稱</th>
    <th>醫院住址</th>
    <th>是否有健保碼</th>
  </tr>
  <% @hospitals.each do |hospital| %>
  <tr>
      <td><%= hospital.name %></td>
      <td><%= hospital.address %></td>
      <td><%= hospital.isDrugID_text %></td>
    <td>
      <%= link_to "編輯", edit_hospital_path(hospital), :class => "btn btn-primary" %>
    </td>
    <td>
      <%= link_to "刪除", hospital_path(hospital), :method => :delete, :class => "btn btn-danger", :data => { :confirm => "你確定要刪除嗎" } %>
    </td>
  </tr>
  <% end %>

</table>
</ul>

<%= link_to "新增醫院", new_hospital_path, :class => "btn btn-info" %>
<br \>
<%= paginate @hospitals %>
