<%= f.text_field :name, label: "名字" %>
<%= f.number_field :salary, :min => 0, label: "薪水" %>
<%= f.number_field :deliveryTimes, :min => 0, label: "外送次數" %>
<%= f.text_area :remark, :size => "20x5", label: "備註" %>

<br />

<% if @pharmacist.errors.any? %>
  <ul>
  <% @pharmacist.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
  <% end %>
  </ul>
<% end %>