<h1>管理散客</h1>
<ul>
<table class="table table-bordered ">
  <tr>
    <th>散客身分證字號</th>
    <th>散客姓名</th>
    <th>電話(O)</th>
    <th>電話(H)</th>
    <th>手機</th>
    <th>住址</th>
    <th>生日</th>
    <th>散客處方箋</th>
    <th>外送資料</th>
  </tr>
  <% @fits.each do |fit| %>
  <tr>
      <td><%= fit.fitIdNumber %></td>
      <td><%= fit.name %></td>
      <td><%= fit.phoneOffice %></td>
      <td><%= fit.phoneHome %></td>
      <td><%= fit.cellphone %></td>
      <td><%= fit.address %></td>
      <td><%= fit.birthday %></td>
      <td><%= fit.prescriptionId %></td>
      <td><%= fit.deliveryID %></td>
    <td>
      <%= link_to '編輯', edit_fit_path(fit) %>
    </td>
    <td>
      <%= link_to '刪除', fit_path(fit), :method => :delete %>
    </td>
  </tr>
  <% end %>

</table>
</ul>

<%= link_to '新增散客', new_fit_path %>
<br \>
<%= paginate @fits %>