<%= f.text_field :memberIdNumber, label:"身分證字號" %>
<%= f.password_field :password, label:"密碼"%>
<%= f.email_field :email, label:"Email"%>
<%= f.text_field :name, label:"姓名" %>
<%= f.telephone_field :phone, label:"電話" %>

<br />

<% if @member.errors.any? %>
  <ul>
  <% @member.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
  <% end %>
  </ul>
<% end %>